// normalize-css подключается с помощью postcss-normalize
@import (inline) '../../node_modules/@material/snackbar/dist/mdc.snackbar.css';
@import (inline) '../../node_modules/@material/menu/dist/mdc.menu.css';
@import (inline) '../../node_modules/@material/menu-surface/dist/mdc.menu-surface.css';
@import (inline) '../../node_modules/@material/list/dist/mdc.list.css';
@import "include/variables";
@import "include/utils";
//@import "include/suggest";
@import "include/general";
@import "include/table.less";
@import "include/forms";
@import "include/modal";
@import "include/layout";


// vendor
// mdc
.mdc-snackbar {z-index: 16; /* higher than footer and modal */}
.mdc-snackbar__surface {min-width: 300px;}
.mdc-snackbar__label {font: inherit; font-size: 1rem; color: #fff;}
.mdc-snackbar__dismiss {
    /*width: 24px; height: 24px; */color: #fff; position: relative;  transition: 0.1s;
    && {font-size: 0;}
    &:hover, &:focus {opacity: 0.7;}
}
.mdc-snackbar__dismiss-icon {
    &::before, &::after {content: ''; position: absolute; height: 2px; width: 16px; left: 50%; top: 50%; margin-left: -8px; margin-top: -1px; background: currentColor;}
    &::before {transform: rotate(45deg);}
    &::after {transform: rotate(-45deg);}
}
.mdc-list-item--with-one-line {align-items: center; justify-content: space-between;}
// nuxt page transition
.page-leave-active, .layout-leave-active {transition: opacity .1s;}
.page-enter-active, .layout-enter-active {transition: opacity .25s;}
.page-enter, .page-leave-to, .layout-enter, .layout-leave-to {opacity: 0;}
// qr-scanner
.qr-scan__modal {pointer-events: auto; cursor: default;}
.qr-scan__modal-container {max-width: 640px;}
.qr-scan__wrap {position: relative;}
.qr-scan__notice {color: @c-main; font-weight: 700; font-size: 24px; width: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;}
.qr-scan__video {max-width: 100%;}
.qr-scan__overlay {
    position: absolute; animation: qr-overlay-animation 500ms infinite alternate ease-in-out;
    svg {width: 100%; height: 100%; stroke: @c-main;}
}
@keyframes qr-overlay-animation {
    from {transform: scale(.98);}
    to {transform: scale(1.01);}
}
// qr-modal
.qr-modal {
    padding-left: 0; padding-right: 0; width: auto;
    .modal__container {max-width: 320px;}
}
.qr-modal__layer {
    padding: 20px; background: #fff;
    canvas {vertical-align: top;}
}
// nuxt-content
.nuxt-content {
    h3 {.u-h5(); margin-bottom: 8px;}
    h3:not(:first-child) {margin-top: 16px;}
    a {.link--default();}
}


// common
.main-wrap {display: flex; flex-direction: column; min-height: 100vh;}
.main-content {width: 100%; flex-grow: 2;}
@media (min-width: @breakpoint-medium-up) {
    .main-content {padding-top: 20px; padding-bottom: 50px; }
}




@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

//.error__title {.list-title(); .list-title--bold(); margin-bottom: 10px;}

.is-connection-notice-open {padding-bottom: 46px;}
.connection-notice {position: fixed; background: @c-black; color: #fff; left: 0; bottom: 0; right: 0; font-weight: 500; font-size: 16px; line-height: 22px; text-align: center; padding: 12px 0;}
.connection-notice__icon {margin-right: 4px;}




.splash-layout {}
.splash-layout__wrap {min-height: 100vh; display: flex; flex-direction: column;}
.splash-layout__inner {width: 100%;}

.simple-layout {background: #fff;}

.default-layout {overflow-y: scroll;}

// auth
.auth__body {}
//.auth__bg {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); margin-top: 40px; margin-left: -3px; z-index: -1;}
.auth__bee {position: absolute; bottom: 100%; right: 10px; margin-bottom: 8px;}
.auth__logo {display: block; margin-inline: auto; margin-bottom: 24px; margin-top: 60px;}
.auth__subtitle {text-align: center; margin-bottom: 40px; font-size: 16px;}
/*@media (min-width: @breakpoint-medium-up) {
    .auth__body {background-image: url(../img/auth-bg.svg); background-position: 50% 10%; background-repeat: no-repeat;}
}*/


.v-transition-toast-enter-active, .v-transition-toast-leave-active {
    transition: .25s;
}
.v-transition-toast-enter, .v-transition-toast-leave-to {
    opacity: 0;
    transform: translateY(100%);
}



/* CARDS */
@card-padding-large: 32px;
@card-chevron-width: 8px;
/* stretch card vertically to fit siblings */
.card-wrap-cell {display: flex;}
.card {
    background: #fff; color: @c-black; box-shadow: 0 4px 4px rgba(0,0,0,0.05); position: relative; border-radius: 16px; /*overflow: hidden;*/ display: block;
    &::before {content: ''; display: table;} // fix firefox incorrect collapsing negative margin
    .card {box-shadow: none;}
}
.card--pop {
    margin-top: 12px;
    & > .card__content:first-child, &&.card__content {
        padding-top: 0;
        & > .h-field:first-child,
        & > .information:first-child,
        & .form-row:first-child .h-field,
        & .form-row:first-child .information {
            margin-top: -12px;
        }
    }
}
.card--invert {background: @c-black; color: #fff;}
.card--light-grey {
    background: @c-white-light;
}
.card--action {display: flex; flex-direction: column; flex-grow: 2; min-width: 0; /* prevent flex item to overflow parent */}
.card-content-base-padding() {
    padding: 16px;
    &:first-child {padding-top: 24px;}
    &:last-child {padding-bottom: 24px;}
}
.card__content {
    .card-content-base-padding();
    &+& {border-top: 1px solid #0001;}

    .card__fake-divider {margin: 16px -16px; border-top: 1px solid #0001; align-self: stretch;}
}
//.card__content--block-small {
//    padding-block: 16px;
//    &:nth-child(n+1) {padding-top: 24px;}
//}
.card__content--small {padding: 16px;}
.card__content--mini {padding-block: 10px;}

.card__action-head {display: flex; align-items: flex-start;}
.card__action-logo {
    border-radius: 50%; box-shadow: 0 8px 20px rgba(0,0,0,0.2); width: 40px; height: 40px;
    &:last-of-type {margin-right: 8px;}
    &+& {margin-left: -8px;}
}
.card__action-title {text-align: left;}
.card__action-title-type {text-transform: uppercase; font-size: 12px; font-weight: 700; opacity: 0.5; line-height: 15px; margin-bottom: 1px;}
.card__action-title-value {font-size: 20px; font-weight: 700; line-height: 24px;}
.card__action-stats {margin-left: auto; text-align: right;}
.card__action-stats-caption {/*text-transform: uppercase;*/ font-size: 12px; font-weight: 700; opacity: 0.5; line-height: 15px; margin-bottom: 1px;}
.card__action-stats-value {font-size: 20px; font-weight: 700; line-height: 24px;}
.card__action-meta {.u-text-medium(); margin-top: 8px;}
.card__action-description {.u-text-medium(); margin-top: 16px; margin-bottom: auto;}
.card__action-tag-list {display: flex; margin-top: (24px - 8px); margin-left: -8px; flex-wrap: wrap;}
.card__action-tag {margin-left: 8px; margin-top: 8px; padding: 2px 8px; line-height: 20px; background: rgba(255,255,255, 0.3); border-radius: 6px; font-weight: 700;}

.card__control-wrap {display: flex; align-items: center; justify-content: space-between; padding-top: 16px; margin-top: auto;}
.card__token-list {display: flex;}
.card__token-logo {
    border-radius: 50%; border: 1px solid @c-white-light; background: @c-white-light; width: 24px; height: 24px;
    &+& {margin-left: -6px;}
}

@media (min-width: @breakpoint-medium-up) {
    .card__content {
        padding: 24px @card-padding-large;
        &:first-child {padding-top: @card-padding-large;}
        &:last-child {padding-bottom: @card-padding-large;}

        .card__fake-divider {margin: 24px -@card-padding-large;}
    }
    .card__content--medium {
        .card-content-base-padding();

        .card__fake-divider {margin: 16px -16px;}
    }
    .card__content--small {padding: 16px;}
}



// header
@header-height: 56px;
@header-height-large: 80px;
.header {background: #ffffff; box-shadow: 0 4px 4px rgba(0,0,0,0.05);}
.header__container {
    display: flex; align-items: center; justify-content: space-between; top: 0; height: @header-height;
    &+& {border-top: 1px solid @c-white-light;}
}
.header__container--premium {font-size: 16px; font-weight: 700; justify-content: center;}
.header__logo {display: flex; align-items: center; flex-grow: 2;}
.header__image-logo {vertical-align: top;}
.header__image-back {margin-right: 24px;}
.header__icon {vertical-align: top;}
.header__logo-text {font-size: 26px; font-weight: 700; font-family: @heading-font-family; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.header__controls {display: flex; height: 100%;}
.header__controls-link {
    display: flex; align-items: center; font-weight: 700; line-height: 20px; position: relative; transition: none; margin-left: 16px;
    &::after {content: ''; position: absolute; left: 0; bottom: 0; right: 0; height: 3px; transition: 0.1s;}
    &:hover::after, &:focus::after {background: fade(@c-main, 40%);}
    &.is-active::after {background: @c-main}
}
.header__controls-divider {margin-block: 0; border: none; border-right: 1px solid @c-white-light; height: 100%;}
.header__controls-premium {display: flex; align-items: center;}
.header__controls-premium-icon {margin-right: 8px;}
.header__controls-user {display: flex; align-items: center; font-weight: 700; /*max-width: calc(100vw - 220px);*/ /*margin-right: 16px;*/}
//.header__controls-user-name {overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.header__controls-user-avatar {width: 24px; height: 24px; border-radius: 50%; background: no-repeat 50% 50% @c-black-light; background-size: cover; margin-right: 8px; flex-shrink: 0;}
.header__controls-language {display: flex; align-items: center; /*margin-left: 16px;*/}
.header__language-container {padding-top: 16px; padding-bottom: 16px; display: flex; justify-content: flex-end;}
.header__language-button {line-height: 0; display: block;}
.header__language-text {margin-right: 16px;}
.header__language-icon {border: 2px solid #F5ECE9; border-radius: 50%;}
@media (min-width: @breakpoint-small-up) {
    //.header__logo {margin-right: 70px;}
    .header__controls-link {margin-left: 24px;}
    .header__controls-user {/*max-width: calc(100vw - 260px);*/ /*margin-right: 24px;*/}
    .header__controls-user-avatar {margin-right: 12px;}
    .header__controls-language {/*margin-left: 24px;*/}
}
@media (min-width: @breakpoint-large-up) {
    //.header {height: @header-height-large;}
    //.header__controls-user {max-width: calc(100vw - 340px);}
}

// back button
.back-button {display: inline-flex; align-items: center; vertical-align: top;}
.back-button__icon {margin-right: 16px;}

// footer
.footer {
    //padding: 0 0 48px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    background: linear-gradient(to bottom,#f3f3f3,#fff 60%);
    padding: 80px 0;
}
.footer__disclaimer {
    margin: 0 0 48px 0;
}
.footer__disclaimer p {
    color: #838383;
}
.footer__menu {
    justify-content: space-between;
    line-height: 20px;
}
.footer__caption {
    font-size: 10px;
    line-height: 12px;
    color: #838383;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.footer__contacts {
    max-width: (352px + 24px);
}
.footer__links-grid {
    margin-left: -33px; justify-content: space-between;
    .footer__links-cell {padding-left: 33px; flex-grow: 2; max-width: 50%;}
}
.footer__links-cell {
    display: flex;
    flex-direction: column;
}
.footer__logo {
    display: inline-block;
    margin: 39px 0 16px 0;
    line-height: 0;
}



// index
.wallet__balance-wrap {
    @margin: 16px;
    margin-top: (8px - @margin); margin-inline: (-@margin / 2); display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;
    & > * {margin-inline: (@margin / 2); margin-top: @margin;}
}
.wallet__balance {margin-right: auto;}
.wallet__balance-value {font-size: 30px; line-height: 36px; font-weight: 700; font-feature-settings: "zero" on;}
.wallet__balance-control-item {}
.wallet__balance-buy-link {}
.wallet__action-button {}
.wallet__controls {display: flex; flex-direction: column; align-items: center;}
.wallet__controls-fancy-button {}
@media (max-width: @breakpoint-small-down) {
    .wallet__balance {width: 100%;}
    .wallet__balance-control-item {flex-grow: 2; flex-basis: 40%;}
}
@media (max-width: @breakpoint-medium-down) {
    .wallet__action-button {
        padding: 48px 0 0; min-width: 72px; position: relative;
        &, &:hover, &:active, &:focus {background: none; color: @c-main;}
        &:before {content: ''; background: @c-main; width: 40px; height: 40px; border-radius: 50%; position: absolute; left: 50%; top: 0; margin-left: -20px;}
        .button__icon {margin: 0; position: absolute; left: 50%; top: ((40px - 24px) / 2); margin-left: -12px;}
    }
    .wallet__controls-fancy-button {width: 100%; text-align: center;}
}
@media (min-width: @breakpoint-medium-up) {
    .wallet__balance-wrap {}
    .wallet__balance-value {font-size: 40px; line-height: 48px;}
    .wallet__action-button {min-width: 128px;}
}
@media (min-width: @breakpoint-large-up) {
    .wallet__controls {flex-direction: row; justify-content: space-between;}
    .wallet__controls-fancy-button {}
}

.wallet__asset-list-control-group {display: flex; align-items: flex-start;}
.wallet__asset-list-control-item {
    padding-bottom: 6px; position: relative;
    &+& {margin-left: 16px;}
    &::before {content: ''; position: absolute; left: 0; bottom: 0; right: 0; height: 2px; border-radius: 1px; background: transparent; transition: 0.1s;}
    &:hover::before, &:focus::before {background: fade(@c-main, 40%);}
    &.is-active::before {background: @c-main;}
}
.wallet__asset-list-control-item.u-semantic-button{
    color: #868686;
    &:hover {color: inherit;}
    &.is-active {color: inherit;}
}
.wallet__asset-list-tx-link {margin-left: auto; margin-top: 1px;}
@media (min-width: @breakpoint-medium-up) {
    .wallet__asset-list-control-item {
        &+& {margin-left: 24px;}
    }
}

.wallet__coin-row {
    display: flex; justify-content: space-between;
    &+& {margin-top: 10px;}
}
.wallet__coin-icon {margin-right: 5px; margin-top: -6px; margin-bottom: -5px; border-radius: 50%; box-shadow: 0 2px 4px rgba(0,0,0,0.05); vertical-align: middle;}
.wallet__coin-name {font-weight: 700; vertical-align: middle;}
.wallet__coin-verified {vertical-align: middle; margin-left: 4px;}
.wallet__coin-balance {font-weight: 600; text-align: right;}
.wallet__coin-balance-usd {font-size: 12px; color: @c-black-light; text-align: right;}
.wallet__coin-control {
    &+& {margin-top: 8px;}
}

.wallet__stake-item {
    &+& {margin-top: 40px;}
}
.wallet__stake-row {
    display: flex; justify-content: space-between;
    &+& {margin-top: 16px;}
}
.wallet__stake-row-title {margin-bottom: 2px;}

/*
.dashboard__category-title {font-size: 26px; line-height: 32px; display: flex; align-items: center; text-transform: uppercase;}
.dashboard__category-icon {margin-left: 16px; margin-right: 16px;}
*/


// send
.send__modal-value {font-size: 24px; font-weight: 700; line-height: 28px;}
.send__modal-amount {.u-text-overflow(); display: inline-block; max-width: 100%; vertical-align: text-top;}
//.send__modal-p {&+& {margin-top: 10px;}}


// convert
.convert__reverse {
}
.convert__reverse-button {
    padding: 5px; margin-inline: auto; display: flex;
    // alt text fallback styles
    font-size: 20px; line-height: 24px; text-align: center; color: @c-black-light;
    &:hover, &:focus {color: @c-black;}
}
.convert__panel {
    background: #fff; border-radius: 8px; padding: 16px; text-align: left; position: relative;
    &.is-loading {
        & > .convert__panel-content {opacity: 0;}

    }
}




.information {padding: (@h-field-vertical-padding - 1px) (@h-field-horizontal-padding - 1px); background: #d7def6; border: 1px dashed #707ba3; border-radius: 12px; font-size: 16px; line-height: 20px; font-weight: 500;}
.information--warning {background: @c-yellow-light; border-color: @c-yolk;}
.information--field {background: #fff; border-color: transparent;}
.information__title {
    font-weight: 700;font-size: 10px;line-height: 12px;letter-spacing: 1px;text-transform: uppercase; color: @c-black-light;
    &:not(:first-child) {margin-top: 16px;}
}
.information__item {
    display: flex; justify-content: space-between; align-items: flex-start;
    &:not(:first-child) {margin-top: 8px;}
}
.information__item--content {display: block;}
.information__coin {display: flex; align-items: center; margin-right: 16px;}
.information__coin-icon {margin-right: 8px; border-radius: 50%; width: 18px; height: 18px;}
.information__coin-symbol {}
.information__value { .u-text-number(); min-width: 0; text-align: right; font-weight: 500; overflow-wrap: break-word;}
.information__muted {opacity: 0.5;}
.information__loader {
    vertical-align: top; width: 20px; height: 20px;
    .loader__path {stroke-width: 3px;}
}




.hub__buy-stage {
    &+& {margin-top: 12px;}
}
.hub__buy-transaction-row {font-size: 14px; font-weight: 500;line-height: 20px;}
.hub__buy-transaction-emoji {font-size: 16px; margin-right: 3px;}
.hub__buy-time {margin-left: 8px;}
.hub__buy-loader {width: 22px; height: 22px; display: inline-block; vertical-align: middle; margin-top: -4px; margin-right: 6px;}
.hub__buy-title-loader {margin: -12px 8px -6px 0; vertical-align: middle;}
@media (min-width: @breakpoint-medium-up) {
    .hub__buy-transaction-meta {display: flex;}
}

.hub__preview-transaction-row {/*font-size: 14px;*/font-weight: 500;line-height: 20px;}
.hub__preview-transaction-meta {color: @c-black-light;font-size: 12px;line-height: 18px;}
.hub__preview-loader {width: 18px;height: 18px;display: inline-block;vertical-align: middle;margin-top: -3px;margin-left: 2px;}
@media (min-width: @breakpoint-medium-up) {
    //.hub__preview-transaction-row {display: flex;justify-content: space-between;}
}


.topup__vertical-container {display: flex; flex-direction: column; align-items: stretch; flex-grow: 2;}
.topup__vertical-center {margin: auto 0;}



//@TODO temp
.panel__section {
    &+& {margin-top: 16px;}
}
.button--full {
    &+& {margin-top: 10px;}
}
