// normalize-css подключается с помощью postcss-normalize
@import (inline) '../../node_modules/@material/snackbar/dist/mdc.snackbar.css';
@import (inline) '../../node_modules/@material/menu/dist/mdc.menu.css';
@import (inline) '../../node_modules/@material/menu-surface/dist/mdc.menu-surface.css';
@import (inline) '../../node_modules/@material/list/dist/mdc.list.css';
@import "include/tooltip";
@import "include/variables";
@import "include/utils";
//@import "include/suggest";
@import "include/general";
@import "include/table.less";
@import "include/forms";
@import "include/modal";
@import "include/layout";

:root, .theme--default {
    --color-bg: #fff;
    --color-bg-tint: @body-bg-color;
    --color-divider: #0001; // #eee, rgba(0,0,0,0.06667)
    --color-light-gray: @c-darker-light; // #f2f2f2, rgba(0,0,0, 0.5)
    --color-text: @c-black;
    --color-text-rgb: @c-black-rgb;
    --color-text-muted: @c-black-light;
    --color-text-muted2: @c-black-half-transparent;
    --color-text-muted-hard: @c-black-hard-transparent;
    --color-text-disabled-button: #fff;
    --color-main: @c-main;
    --color-main-rgb: @c-main-rgb;
    --color-main-invert: #fff;
}

.theme--metagarden {
    --color-bg: @c-night;
    --color-bg-tint: @c-night-dark;
    --color-divider: @c-metagarden-border;
    --color-light-gray: rgba(255,255,255, 0.05);
    --color-text: #fff;
    --color-text-rgb: 255, 255, 255;
    --color-text-muted: @c-metagarden-text-muted;
    --color-text-muted2: @c-white-half-transparent;
    --color-text-muted-hard: @c-white-hard-transparent;
    --color-text-disabled-button: @c-night;
    --color-main: @c-metagarden;
    --color-main-rgb: @c-metagarden-rgb;
    --color-main-invert: @c-night-dark;


    background: @c-night-dark; color: #fff;
    .wallet__action-button .color-main-light {display: none;}
    .card--light-grey {.card--metagarden();}
    .card--invert {background: transparent;}
    .card--invert .card.card__content {border-top: none;}
    .card__action-title-type, .card__action-stats-caption {color: @c-metagarden-text-muted; opacity: 1;}
    .information {background: transparent; color: #fff; border-color: @c-metagarden-highlight;}
}


// vendor
// mdc
.mdc-snackbar {z-index: 16; /* higher than footer and modal */}
.mdc-snackbar__surface {min-width: 300px;}
.mdc-snackbar__label {font: inherit; font-size: 1rem; color: #fff;}
.mdc-snackbar__dismiss {
    /*width: 24px; height: 24px; */color: #fff; position: relative;  transition: 0.1s;
    && {font-size: 0;}
    &:hover, &:focus {opacity: 0.7;}
}
.mdc-snackbar__dismiss-icon {
    &::before, &::after {content: ''; position: absolute; height: 2px; width: 16px; left: 50%; top: 50%; margin-left: -8px; margin-top: -1px; background: currentColor;}
    &::before {transform: rotate(45deg);}
    &::after {transform: rotate(-45deg);}
}
.mdc-list-item--with-one-line {align-items: center; justify-content: space-between;}
// nuxt page transition
.page-leave-active, .layout-leave-active {transition: opacity .1s;}
.page-enter-active, .layout-enter-active {transition: opacity .25s;}
.page-enter, .page-leave-to, .layout-enter, .layout-leave-to {opacity: 0;}
// qr-scanner
.qr-scan__modal {pointer-events: auto; cursor: default;}
.qr-scan__modal-container {max-width: 640px;}
.qr-scan__wrap {position: relative;}
.qr-scan__notice {color: @c-main; font-weight: 700; font-size: 24px; width: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;}
.qr-scan__video {max-width: 100%;}
.qr-scan__overlay {
    position: absolute; animation: qr-overlay-animation 500ms infinite alternate ease-in-out;
    svg {width: 100%; height: 100%; stroke: @c-main;}
}
@keyframes qr-overlay-animation {
    from {transform: scale(.98);}
    to {transform: scale(1.01);}
}
// qr-modal
.qr-modal {
    padding-left: 0; padding-right: 0; width: auto;
    .modal__container {max-width: 320px;}
}
.qr-modal__layer {
    padding: 20px; background: #fff;
    canvas {vertical-align: top;}
}
// qr-code
.qr-wrap {padding: 8px; display: inline-block; line-height: 0; background: #fff;}
// nuxt-content
.nuxt-content {
    h3 {.u-h5(); margin-bottom: 8px;}
    h3:not(:first-child) {margin-top: 16px;}
    a {.link--default();}
}


// common
.main-wrap {display: flex; flex-direction: column; min-height: 100vh;}
.main-content {width: 100%; flex-grow: 2;}
@media (min-width: @breakpoint-medium-up) {
    .main-content {padding-top: 20px; padding-bottom: 50px; }
}




@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

//.error__title {.list-title(); .list-title--bold(); margin-bottom: 10px;}

.is-connection-notice-open {padding-bottom: 46px;}
.connection-notice {position: fixed; background: @c-black; color: #fff; left: 0; bottom: 0; right: 0; font-weight: 500; font-size: 16px; line-height: 22px; text-align: center; padding: 12px 0;}
.connection-notice__icon {margin-right: 4px;}


// layouts
.layout--hide-header-logo {
    .header__logo-link {display: none;}
}
.layout--transparent-header {
    .header {background: none; box-shadow: none; color: inherit;}
}

.battle-bg-gradient() {background: linear-gradient(180deg, #E73C3C -3.15%, #FFB800 100%);}

.splash-layout {}
.splash-layout--battle {.battle-bg-gradient(); color: #fff;}
.splash-layout--garden {background: url(../img/bg-garden.png); image-rendering: pixelated; color: #fff;}
.splash-layout__wrap {min-height: 100vh; display: flex; flex-direction: column;}
.splash-layout__inner {width: 100%; margin-top: auto; margin-bottom: auto;}

.metagarden-layout {
    //background: @c-night-dark; color: #fff;
    .metagarden-layout__hide {display: none !important;}
}
.simple-layout {background: #fff;}
.embed-layout {background: transparent;}

.default-layout {overflow-y: scroll;}

// auth
.auth__body {}
//.auth__bg {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); margin-top: 40px; margin-left: -3px; z-index: -1;}
.auth__bee {position: absolute; bottom: 100%; right: 10px; margin-bottom: 8px;}
.auth__logo {display: block; margin-inline: auto; margin-bottom: 24px;}
.auth__subtitle {text-align: center; margin-bottom: 40px; font-size: 16px;}
/*@media (min-width: @breakpoint-medium-up) {
    .auth__body {background-image: url(../img/auth-bg.svg); background-position: 50% 10%; background-repeat: no-repeat;}
}*/


.v-transition-toast-enter-active, .v-transition-toast-leave-active {
    transition: .25s;
}
.v-transition-toast-enter, .v-transition-toast-leave-to {
    opacity: 0;
    transform: translateY(100%);
}



/* CARDS */
@card-padding-large: 32px;
@card-chevron-width: 8px;
/* stretch card vertically to fit siblings */
.card-wrap-cell {display: flex;}
.card {
    background: var(--color-bg); color: var(--color-text); box-shadow: 0 4px 4px rgba(0,0,0,0.05); position: relative; border-radius: 16px; /*overflow: hidden; not clip dropdowns inside card */ display: block;
    &::before {content: ''; display: table;} // fix firefox incorrect collapsing negative margin
    .card {box-shadow: none;}
}
.card--pop {
    html:not(.theme--metagarden) & {
        margin-top: 12px;
        & > .card__content:first-child, &&.card__content {
            padding-top: 0;
            & > .h-field:first-child,
            & > .information:first-child,
            & .form-row:first-child .h-field,
            & .form-row:first-child .information {
                margin-top: -12px;
            }
            & .card__pop-item--20 {
                margin-top: -20px;
            }
        }
    }
}
.card--invert {background: @c-black; color: #fff;}
.card--light-grey {background: @c-white-light;}
.card--simple-border {border: 1px solid @c-border;}
.card--battle {.battle-bg-gradient();}
.card.card--portfolio-battle {background-color: #B12121;}
.card--portfolio-battle {background: url(../img/bg-portfolio-battle-1.svg) top right no-repeat, url(../img/bg-portfolio-battle-2.svg) bottom left no-repeat;}
.card--twitter {background: url(../img/bg-share-to-earn.svg) no-repeat 20px 0 #1DA1F2;}
.card--metagarden {background: @c-night; color: #fff;}
.card--metagarden-game {
    width: @mg-card-width; flex-shrink: 0;
    &+& {margin-left: @mg-card-gap;}
}
.card--metagarden-lootbox {background: url(../img/metagarden-lootbox-fancy-bg.svg) center bottom no-repeat, radial-gradient(58% 118% at 42% 27%, #242122 0%, #A91880 100%);}
//.card--metagarden-buy-spot-backup {background: url(../img/card-metagarden.svg) top left no-repeat, linear-gradient(100.01deg, #42DF81 -5.26%, #1E8045 43.33%, #1A6D3B 119.14%); color: #fff;}
.card--metagarden-buy-spot {
    background: url(../img/metagarden-spot-bg.svg) -160px 35% no-repeat,
    linear-gradient(100.01deg, #42DF81 -5.26%, #1E8045 43.33%, #1A6D3B 119.14%);
    background-size: auto 200%, auto;
    color: #fff;}
.card--extended-card {
    .card__action-head {
        margin: 0 0 152px 0 !important;
    }
}
.card--bee-staking {
    background: url(../img/card-bee-staking@2x.png) center top 72px no-repeat #3B9BB9;
    background-size: 194px 128px;
}
.card--bee-buy {
    background: url(../img/card-bee-buy@2x.png) center top 43px no-repeat #3F9C37;
    background-size: 174px 160px;
}
.card--bee-farming {
    background: url(../img/card-bee-farming@2x.png) center top 70px no-repeat #E2B543;
    background-size: 195px 136px;
}
.card--bee-farming-2 {
    background: url(../img/card-bee-farming-2@2x.png) center top 70px no-repeat #2EA496;
    background-size: 161px 136px;
}
.card--bee-premium {
    background: url(../img/card-bee-premium@2x.png) center top 56px no-repeat #84389E;
    background-size: 210px 152px;
}
.card--bee-hold {
    background: url(../img/card-bee-hold@2x.png) center top 51px no-repeat #0061F5 !important;
    background-size: 170px 156px !important;
}
.card--metagarden--blobs {background: url(../img/metagarden-spot-bg.svg) no-repeat 50% 0 @c-night;}
.card--garden {background: linear-gradient(0deg, rgba(0, 146, 58, 0.6), rgba(0, 146, 58, 0.6)), url(../img/bg-garden.png) #6AD94B; image-rendering: pixelated;}
.card--action {display: flex; flex-direction: column; flex-grow: 2; min-width: 0; /* prevent flex item to overflow parent */}
.card-content-base-padding() {
    padding: 16px;
    &:first-child {padding-top: 24px;}
    &:last-child {padding-bottom: 24px;}
}
.card__content {
    .card-content-base-padding();
    &:empty {display: none;}
    &:not(:empty):not(.u-hidden) + & {border-top: 1px solid var(--color-divider);}

    .card__fake-divider {margin: 16px -16px; border-top: 1px solid var(--color-divider); align-self: stretch; flex-basis: 100%; flex-grow: 2;}
}
//.card__content--block-small {
//    padding-block: 16px;
//    &:nth-child(n+1) {padding-top: 24px;}
//}
.card__content--small {padding: 16px;}
.card__content--mini {padding-block: 10px;}
.card__content--instant-block {margin: 16px 0 0 0; padding: 16px 0 0 0;border-top: 1px solid var(--color-divider);}


.card__head-row {
    display: flex; align-items: flex-start;
    & > :nth-child(2) {margin-left: auto; text-align: right;}
}
.card__action-head {display: flex; align-items: flex-start;}
.card__action-logo {
    border-radius: 50%; box-shadow: 0 8px 20px rgba(0,0,0,0.2); width: 40px; height: 40px;
    &:last-of-type {margin-right: 8px;}
    &+& {margin-left: -8px;}
}
.card__action-title {text-align: left;}
.card-action-header() {text-transform: uppercase; font-size: 12px; font-weight: 700; opacity: 0.5; line-height: 15px; margin-bottom: 1px;}
.card__action-title-type {.card-action-header();}
.card__action-title-value {font-size: 20px; font-weight: 700; line-height: 24px;}
.card__action-stats {margin-left: auto; text-align: right;}
.card__action-stats-caption {
    .card-action-header();
    &.is-active {opacity: 1;}
    &+& {margin-left: 8px;}
}
.card__action-stats-value {font-size: 20px; font-weight: 700; line-height: 24px;}
.card__action-meta {.u-text-medium(); margin-top: 8px;}
.card__action-description {.u-text-medium(); margin-top: 16px; margin-bottom: auto;}
.card__action-tag-list {display: flex; margin-top: (24px - 8px); margin-left: -8px; flex-wrap: wrap;}
.card__action-tag {margin-left: 8px; margin-top: 8px; padding: 2px 8px; line-height: 20px; background: rgba(255,255,255, 0.3); border-radius: 6px; font-weight: 700;}

.card__control-wrap {display: flex; align-items: center; justify-content: space-between; padding-top: 16px; margin-top: auto;}
.card__token-list {display: flex;}
.card__token-logo {
    border-radius: 50%; border: 1px solid @c-white-light; background: @c-white-light; width: 24px; height: 24px;
    &+& {margin-left: -6px;}
}

.card__cover {border-radius: 16px 16px 0 0; vertical-align: top; width: 100%;}
.card__badge {.u-h--uppercase(); position: absolute; bottom: 16px; right: 0; padding: 4px 8px; box-shadow: 0px 2px 2px rgba(0,0,0, 0.25); border-radius: 8px 0px 0px 8px; color: @c-black;}
.card__badge--coming-soon {background: #faff00;}

@media (min-width: @breakpoint-medium-up) {
    .card__content {
        padding: 24px @card-padding-large;
        &:first-child {padding-top: @card-padding-large;}
        &:last-child {padding-bottom: @card-padding-large;}

        .card__fake-divider {margin: 24px -@card-padding-large;}
    }
    .card__content--medium {
        .card-content-base-padding();

        .card__fake-divider {margin: 16px -16px;}
    }
    .card__content--small {padding: 16px;}
}



// header
@header-height: 56px;
@header-height-large: 80px;
.header {background: var(--color-bg); box-shadow: 0 4px 4px @c-darker-light; color: var(--color-text);}
.header__container {
    display: flex; align-items: center; justify-content: center; flex-wrap: wrap; top: 0; min-height: @header-height;
    &+& {border-top: 1px solid var(--color-divider);}
}
.header__logo {display: flex; align-items: center; flex-grow: 2;}
.header__image-back {margin-right: 8px;}
.header__logo-text {font-size: 16px; font-weight: 700; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.header__horizontal-divider {min-width: 100%; flex-grow: 2; border-top: 1px solid var(--color-divider); margin: 0 -@container-padding;}
.header__controls-divider {margin: 0; border: none; border-right: 1px solid var(--color-divider);}
.header__controls-link {
    height: @header-height; display: flex; align-items: center; font-weight: 700; line-height: 20px; position: relative; transition: none; margin-left: 16px;
    &::after {content: ''; position: absolute; left: 0; bottom: 0; right: 0; height: 3px; transition: 0.1s;}
    &:hover::after, &:focus::after {background: rgba(var(--color-main-rgb), 0.4);}
    &.is-active::after {background: var(--color-main);}
}
.header__controls-user {display: flex; align-items: center; /*max-width: calc(100vw - 220px);*/ /*margin-right: 16px;*/}
.header__controls-user-avatar {border-radius: 50%; background: @c-black-light; object-fit: cover;
    flex-shrink: 0;}
.header__controls-mg-user-name {.u-text-small(); color: @c-metagarden-text-muted;}
.header__controls-mg-user-balance {.u-text-medium(); /*.u-text-small(); color: @c-metagarden-highlight;*/}
.header__controls-language {display: flex; align-items: center; /*margin-left: 16px;*/}
.header__language-container {padding-top: 16px; padding-bottom: 16px; display: flex; justify-content: flex-end;}
.header__language-button {line-height: 0; display: block;}
.header__language-text {margin-right: 16px;}
.header__language-icon {border: 2px solid #F5ECE9; border-radius: 50%;}
@media (max-width: @breakpoint-large-down) {
    .header__premium-item {
        order: 2;
        margin-left: 0;
        .header__controls-link {margin-left: 0;}
        &.header__controls-divider {margin-inline: 16px;}
    }
}
@media (min-width: @breakpoint-small-up) {
    .header__controls-link {margin-left: 24px;}
}
@media (max-width: @breakpoint-small-down) {
    .header__horizontal-divider {margin: 0 -16px;}
}

// back button
.back-button {display: inline-flex; align-items: center; vertical-align: top;}
.back-button__icon {margin-right: 16px; fill: currentColor;}

// footer
.footer {
    //padding: 0 0 48px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    //color: @c-black;
    //background: linear-gradient(to bottom, var(--color-light-gray), transparent 60%);
    padding: 80px 0;
}
.footer__disclaimer {
    margin: 0 0 48px 0;
}
.footer__disclaimer p {
    color: var(--color-text-muted2);
}
.footer__menu {
    justify-content: space-between;
    line-height: 20px;
}
.footer__caption {
    font-size: 10px;
    line-height: 12px;
    color: var(--color-text-muted);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.footer__contacts {
    max-width: (352px + 24px);
}
.footer__links-grid {
    margin-left: -33px; justify-content: space-between;
    .footer__links-cell {padding-left: 33px; flex-grow: 2; max-width: 50%;}
}
.footer__links-cell {
    display: flex;
    flex-direction: column;
}
.footer__logo {
    display: inline-block;
    margin: 39px 0 16px 0;
    line-height: 0;
}




.tabs {}
.tabs__item {
    padding-bottom: 6px; position: relative; color: var(--color-text-muted);
    &+& {margin-left: 16px;}
    // states
    &:hover, &:focus {color: inherit;}
    &.is-active {color: inherit;}
    // pseudo
    &::before {content: ''; position: absolute; left: 0; bottom: 0; right: 0; height: 2px; border-radius: 1px; background: transparent; transition: 0.1s;}
    &:hover::before, &:focus::before {background: rgba(var(--color-main-rgb), 0.4);}
    &.is-active::before {background: var(--color-main);}
}
@media (min-width: @breakpoint-medium-up) {
    .tabs__item {
        &+& {margin-left: 24px;}
    }
}



// index
.wallet__balance-wrap {
     display: flex; justify-content: space-around; align-items: flex-start; flex-wrap: wrap;
}
.wallet__balance {margin-right: auto;}
.wallet__balance-value {font-size: 30px; line-height: 36px; font-weight: 700; font-feature-settings: "zero" on;}
.wallet__balance-buy-link {}
.wallet__action-button {
    padding: 40px 0 0; min-width: 72px; position: relative;
    &, &:hover, &:active, &:focus {background: none; color: var(--color-main);}
    .button__icon {margin: 0; position: absolute; left: 50%; top: ((40px - 24px) / 2); margin-left: -12px;}
}
.wallet__topup-button {
    padding: 48px 0 0; font-weight: 700; position: relative; width: 96px; text-align: center;
    .button__icon {margin: 0; position: absolute; left: 50%; top: ((40px - 24px) / 2); margin-left: -12px; fill: #fff;}
    &:before {content: ''; position: absolute; top: 0; left: 50%; margin-left: -20px; width: 40px; height: 40px; border-radius: 50%; border: 1px solid #fff;}
}
.wallet__controls {display: flex; flex-direction: column; align-items: center;}
@media (max-width: @breakpoint-small-down) {
    .wallet__balance {width: 100%;}
}
@media (min-width: @breakpoint-medium-up) {
    @margin: 8px;
    //.wallet__balance-wrap {margin-top: (8px - @margin); margin-inline: (-@margin / 2);}
    //& > * {margin-top: @margin; margin-inline: (@margin / 2);}
    .wallet__balance-value {font-size: 40px; line-height: 48px;}
    html:not(.metagarden-layout) .wallet__balance-divider {display: none;}
    .wallet__action-button {min-width: 96px;}
    .wallet__topup-button {width: auto;}
}
@media (min-width: @breakpoint-large-up) {
    .wallet__controls {flex-direction: row; justify-content: space-between;}
}

.wallet__asset-list-tx-link {margin-left: auto;}

.wallet__coin-row {
    display: flex; justify-content: space-between;
    &+& {margin-top: 10px;}
}
.wallet__coin-icon {margin-right: 5px; margin-top: -6px; margin-bottom: -5px; border-radius: 50%; box-shadow: 0 2px 4px rgba(0,0,0,0.05); vertical-align: middle;}
.wallet__coin-name {font-weight: 700; vertical-align: middle;}
.wallet__coin-verified {vertical-align: middle; margin-left: 4px;}
.wallet__coin-balance {font-weight: 600; text-align: right;}
.wallet__coin-balance-usd {font-size: 12px; color: var(--color-text-muted); text-align: right;}
.wallet__coin-control {
    &+& {margin-top: 8px;}
}

.wallet__stake-item {
    &+& {margin-top: 40px;}
}
.wallet__stake-row {
    display: flex; justify-content: space-between;
    &+& {margin-top: 16px;}
}
.wallet__stake-row-title {margin-bottom: 2px;}

/*
.dashboard__category-title {font-size: 26px; line-height: 32px; display: flex; align-items: center; text-transform: uppercase;}
.dashboard__category-icon {margin-left: 16px; margin-right: 16px;}
*/


// send
.send__modal-value {font-size: 24px; font-weight: 700; line-height: 28px;}
.send__modal-amount {.u-text-overflow(); display: inline-block; max-width: 100%; vertical-align: text-top;}
//.send__modal-p {&+& {margin-top: 10px;}}


// convert
.convert__reverse {
}
.convert__reverse-button {
    /*padding: 5px; */margin-inline: auto; display: flex;
    // alt text fallback styles
    font-size: 20px; line-height: 24px; text-align: center; color: var(--color-main);
    //&:hover, &:focus {color: @c-black;}
    svg {fill: currentColor;}
}
.convert__panel {
    background: #fff; border-radius: 8px; padding: 16px; text-align: left; position: relative;
    &.is-loading {
        & > .convert__panel-content {opacity: 0;}

    }
}




.information {padding: (@h-field-vertical-padding - 1px) (@h-field-horizontal-padding - 1px); background: #d7def6; color: @c-black; border: 1px dashed #707ba3; border-radius: 12px; font-size: 16px; line-height: 20px; font-weight: 500;}
.information--warning {background: @c-yellow-light; border-color: @c-yolk;}
.information--field {background: #fff; border-color: transparent;}
.information__title {
    font-weight: 700;font-size: 10px;line-height: 12px;letter-spacing: 1px; text-transform: uppercase; color: var(--color-text-muted);
    &:not(:first-child) {margin-top: 16px;}
}
.information__item {
    display: flex; justify-content: space-between; align-items: flex-start;
    &:not(:first-child) {margin-top: 8px;}
}
.information__item--content {display: block;}
.information__coin {display: flex; align-items: center; margin-right: 16px;}
.information__coin-icon {margin-right: 8px; border-radius: 50%; width: 18px; height: 18px;}
.information__coin-symbol {}
.information__value { .u-text-number(); min-width: 0; text-align: right; font-weight: 500; overflow-wrap: break-word;}
.information__muted {opacity: 0.5;}
.information__loader {
    vertical-align: top; width: 20px; height: 20px;
    .loader__path {stroke-width: 3px;}
}




.hub__buy-stage {
    &+& {margin-top: 12px;}
}
.hub__buy-transaction-row {font-size: 14px; font-weight: 500;line-height: 20px;}
.hub__buy-transaction-emoji {font-size: 16px; margin-right: 3px;}
.hub__buy-time {margin-left: 8px;}
.hub__buy-loader {width: 22px; height: 22px; display: inline-block; vertical-align: middle; margin-top: -4px; margin-right: 6px;}
.hub__buy-title-loader {margin: -12px 8px -6px 0; vertical-align: middle;}
@media (min-width: @breakpoint-medium-up) {
    .hub__buy-transaction-meta {display: flex;}
}

.hub__preview-transaction-row {/*font-size: 14px;*/font-weight: 500;line-height: 20px;}
.hub__preview-transaction-meta {color: @c-black-light;font-size: 12px;line-height: 18px;}
.hub__preview-loader {width: 18px;height: 18px;display: inline-block;vertical-align: middle;margin-top: -3px;margin-left: 2px;}
@media (min-width: @breakpoint-medium-up) {
    //.hub__preview-transaction-row {display: flex;justify-content: space-between;}
}


.topup__vertical-container {display: flex; flex-direction: column; align-items: stretch; flex-grow: 2;}
.topup__vertical-center {margin: auto 0;}


.portfolio__leaderboard-rank {.u-text-muted(); min-width: 24px; line-height: 22px; font-size: 14px; font-weight: 600; text-align: center; display: inline-block;}
.portfolio__leaderboard-icon--1, .portfolio__leaderboard-icon--2, .portfolio__leaderboard-icon--3 {width: 24px; height: 24px; line-height: 24px; border-radius: 50%; color: #fff;}
.portfolio__leaderboard-icon--1 {background: linear-gradient(180deg, #A57C01 0%, #F2C028 100%);}
.portfolio__leaderboard-icon--2 {background: linear-gradient(180deg, #929292 0%, #D9D9D9 100%);}
.portfolio__leaderboard-icon--3 {background: linear-gradient(180deg, #D56C31 0%, #FF9558 100%);}
.portfolio__leaderboard-address-cell {}
.portfolio__leaderboard-address {display: flex; align-items: center;}
.portfolio__leaderboard-address-value {margin-left: 16px;}
@media (min-width: @breakpoint-large-up) {
    .portfolio__leaderboard-address-cell {width: 30%;}
}

.card__portfolio-notify-button {height: 16px; margin-right: 8px;}
.card__portfolio-notify-loader {width: 16px; height: 16px;}

.icon--notify, .icon-notify-bg, .icon-notify-bell {transition: 0.1s}
.icon--notify {
    .card--invert & {
        & .icon-notify-bg {fill: @c-black-light;}
        & .icon-notify-bell {fill: @c-black;}
    }
    &.is-active, &:hover, &:focus {
        & > .icon-notify-bg {fill: @c-yellow-light;}
        & > .icon-notify-bell {fill: @c-yolk;}
    }
    &:hover, &:focus {
        opacity: 0.7;
    }


}


.battle__body {background: url(../img/battle-bg-left.svg) 0 0 no-repeat, url(../img/battle-bg-right.svg) 100% 0  no-repeat;}
.battle__splash-top-image {vertical-align: top; margin-top: 6px; margin-bottom: 46px; margin-left: -50px;}
.battle__splash-title {display: block; margin-bottom: 25px; max-width: 100%; height: auto;}
.battle__splash-bottom-image {margin-left: -27px; margin-top: 25px;}

.battle__ranking-item {
    &+& {margin-top: 16px; padding-top: 16px; border-top: 1px solid @c-white-light;}
}



.mg-cards {display: flex; margin-inline: -@container-padding-small; padding-inline: @container-padding-small; overflow-y: auto;}
@media (min-width: @breakpoint-small-up) {
    margin-inline: -@container-padding; padding-inline: @container-padding;
}
@media (min-width: @breakpoint-medium-up) {
    .mg-cards {
        flex-wrap: wrap; margin-top: -16px; margin-left: -16px; margin-right: 0; padding: 0; overflow-y: visible;
         & > .card {margin-top: 16px; margin-left: 16px;}
    }
}


.mg-game__cover {border-radius: 16px; margin-inline: auto; overflow: hidden;}
@media (max-width: @mg-card-width * 2 + @mg-card-gap) {
    .mg-game__cover {margin-inline: -@container-padding-small; margin-top: -@section-margin; border-radius: 0;}
}


.footer-garden {
    background: #6bd84b; color: #fff; padding-bottom: 32px;
    &::before {
        content: ''; display: block; margin-top: -18px; height: 84px;
        background: url(../img/bg-garden-border.png) repeat-x;
        // negative margin firefox fix
        display: inline-block; width: 100%; vertical-align: top;
    }

}



//@TODO temp
.panel__section {
    &+& {margin-top: 16px;}
}
.button--full {
    &+& {margin-top: 10px;}
}
.spot-video {
    background: transparent;
}
