@import "variables";


@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


*, *::before, *::after {box-sizing: border-box;}
html {
    overflow-y: scroll; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-overflow-scrolling: touch;
    font-family: @body-font-family;
    // Inter: disable 0x01 converting to cross sign
    font-variant-ligatures: no-contextual;
    font-size: 16px;
    line-height: 1.375;
    color: @c-black;
    font-weight: 400;
    background: @body-bg-color;
}
body {
    margin: 0;
    //position: relative; //в данной реализации модала не актуально // чтобы не разъезжался абсолютный контент при открытии модального

}

a, .link {color: inherit; outline: none; text-decoration: none; text-decoration-skip-ink: auto; transition: 0.1s;}
a, .link {&:hover, &:focus {/*text-decoration: underline; */outline: none;}}
.no-link {text-decoration: none;}
.link--main {&, &:hover, &:focus {color: @c-main;}}
.link--green {&, &:hover, &:focus {color: @c-green;}}
.link--white {&, &:hover, &:focus {color: #fff;}}
.link--opacity {
    text-decoration: none; transition: 0.1s;
    &:hover, &:focus {opacity: 0.65;}
}
.link--hover {
    //text-decoration: none;
    &:hover, &:focus {text-decoration: underline;}
}
.link--underline {
    text-decoration: underline;
    &:hover, &:focus {text-decoration: none;}
}
.link--default {.link--main(); .link--hover(); font-weight: 600;}
.link--default-green {.link--green(); .link--hover(); font-weight: 600;}
.link--default-black {.link--hover(); font-weight: 600;}
button {cursor: pointer; outline: none;}
p, ul, ol {margin: 0;}
p, ul, ol, h5 {
    &+& {margin-top: 0.75rem;}
}
sub, sup { font-size: 75%;}
.no-list {
    padding: 0; margin: 0;
    li {list-style: none;}
}
.list-simple {
    padding: 0;
    li {
        list-style: none; position: relative; padding-left: 25px;
        &::before {content: '•'; position: absolute; left: 0; top: 0;}
    }
    li + li {margin-top: 10px;}
}
:-moz-focusring {outline: none;}
input, textarea, select {
    font: inherit; color: @c-black; outline: none; caret-color: @c-main;
    &::placeholder {color: #a4a4a4; opacity: 1;}
}
input {vertical-align: middle;}
textarea {resize: none;}

.u-h {margin: 0; font-family: @heading-font-family; font-weight: 700; line-height: 1.2;}
h1, h2, h3, h4, h5, h6 {.u-h();}
//.h-title {font-size: 24px; text-transform: uppercase; margin-bottom: 12px;}
.u-h1 {font-size: 32px; line-height: 1.22;}
.u-h2 {font-size: 24px;}
.u-h3 {font-size: 18px; line-height: 1.21;}
.u-h5 {font: inherit; font-weight: 600;}
.u-h--uppercase {font-weight: 700; font-size: 12px; line-height: 16px; color: @c-black-light; letter-spacing: 1.5px; text-transform: uppercase;}
.u-h--uppercase-solid {.u-h--uppercase(); color: inherit;}
@media (min-width: @breakpoint-small-up) {
    //html {font-size: 20px; line-height: 1.4;}
    .u-h1 {font-size: 42px; line-height: 1.2;}
    .u-h2 {font-size: 29px;}
    .u-h3 {font-size: 20px;}
}
@media (min-width: @breakpoint-large-up) {
    .u-h1--large {font-size: 60px; letter-spacing: -0.4px; font-weight: 800;}
}


hr {border: none; border-top: 1px solid @c-border;}
.hr--divider {margin: 48px 0;}
.hr--divider-large {}
.hr--section-divider {margin: 0;}
@media (min-width: @breakpoint-medium-up) {
    .hr--divider {margin: 64px 0;}
    .hr--divider-large {margin: 80px 0;}
}


blockquote {
    position: relative; padding-left: 29px; margin: 0;
    &::before {content: ''; position: absolute; left: 0; top: 7px; bottom: 7px; background: #ee7033; width: 8px;}
}


// not needed because no fancy animation is used
//@media (prefers-reduced-motion: reduce) {
//    html:focus-within {
//        scroll-behavior: auto;
//    }
//    *,
//    *::before,
//    *::after {
//        animation-duration: 0.01ms !important;
//        animation-iteration-count: 1 !important;
//        transition-duration: 0.01ms !important;
//        scroll-behavior: auto !important;
//    }
//}


