@import 'variables.less';

// table
@table-cell-padding: 8px;
.table-wrap {overflow: auto;}
table {width: 100%; border-collapse: collapse;}
th {.u-h--uppercase();}
td, th {
    padding: @table-cell-padding; text-align: left; vertical-align: top;
    &:first-child, &.is-first-child {padding-left: 0;}
    &:last-child {padding-right: 0;}
}
@media (max-width: @breakpoint-medium-down) {
    .table--mobile-divide {
        tr:not(:first-child) td {border-top: 1px solid @c-white-light; padding-top: 16px;}
        tr:not(:last-child) td {padding-bottom: 16px;}
    }
}
