@import "variables";

.u-semantic-button {background: none; border: none; border-radius: 0; color: inherit; font: inherit; text-align: inherit; padding: 0; cursor: pointer;}
.u-hidden {display: none !important;}
.u-visually-hidden {visibility: hidden !important;}
.u-text-center { text-align: center;}
.u-text-left { text-align: left;}
.u-text-right {text-align: right;}
.u-text-number {font-feature-settings: "tnum" on, "zero" on;}
.u-text-break, .u-text-wrap {overflow-wrap: break-word;}
.u-display-block {display: block !important;}
.u-display-ib {display: inline-block !important;}
.u-relative {position: relative; z-index: 1;}
.u-mb-025 {margin-bottom: 0.25rem !important;}
.u-mb-05 {margin-bottom: 0.5rem !important;}
.u-mb-10 {margin-bottom: 1rem !important;}
.u-mb-15 {margin-bottom: 1.5rem !important;}
.u-mb-20 {margin-bottom: 2rem !important;}
.u-mb-25 {margin-bottom: 2.5rem !important;}
.u-mt-05 {margin-top: 0.5rem !important;}
.u-mt-10 {margin-top: 1rem !important;}
.u-mt-15 {margin-top: 1.5rem !important;}
.u-mt-20 {margin-top: 2rem !important;}
.u-mt-25 {margin-top: 2.5rem !important;}
.u-mt-40 {margin-top: 4rem !important;}
.u-fw-400 {font-weight: 400;}
.u-fw-600 {font-weight: 600;}
.u-fw-700 {font-weight: 700 !important;}
.u-text-small {font-size: 12px; line-height: 16px;}
.u-text-muted {color: @c-black-light;}
.u-text-green {color: @c-green;}
.u-text-overflow {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.u-text-break {overflow-wrap: break-word;}
.u-text-nowrap {white-space: nowrap;}
.u-emoji {font-family: @emoji-font-family; color: inherit;}
.u-select-all {user-select: all;}

.u-aspect-ratio {
    max-width: 100%; margin: 0;
    & > img, & > svg, & > iframe { width: 100%; height: auto; }
}
@supports (--a:b) {
    .u-aspect-ratio {
        position: relative;
        &::before {content: ""; display: block; padding-bottom: calc(100% / (var(--aspect-ratio)));}
        & > img, & > svg, & > iframe {position: absolute; top: 0; left: 0; height: 100%;}
    }
}

@media (min-width: @breakpoint-medium-up) {
    .u-select-all {user-select: auto;}
}
@media (min-width: @breakpoint-xlarge-up) {
    .u-hidden-xlarge-up {display: none !important;}
}
@media (max-width: @breakpoint-xlarge-down) {
    .u-hidden-xlarge-down {display: none !important;}
}
@media (min-width: @breakpoint-large-up) {
    .u-hidden-large-up {display: none !important;}
}
@media (max-width: @breakpoint-large-down) {
    .u-hidden-large-down {display: none !important;}
}
@media (min-width: @breakpoint-medium-up) {
    .u-hidden-medium-up {display: none !important;}
}
@media (max-width: @breakpoint-medium-down) {
    .u-hidden-medium-down {display: none !important;}
}
@media (min-width: @breakpoint-small-up) {
    .u-hidden-small-up {display: none !important;}
}
@media (max-width: @breakpoint-small-down) {
    .u-hidden-small-down {display: none !important;}
}
@media (max-width: @breakpoint-mini-down) {
    .u-hidden-mini-down {display: none !important;}
}
