@container-width: 640px;
@container-width-large: 968px;
@container-padding-small: 16px;
@container-padding: 24px;
@section-margin: 32px;
@default-indent: 16px;
@paragraph-indent: 10px;
@grid-horizontal-margin: 16px;
@grid-vertical-margin: 16px;

@breakpoint-mini-up: 350px;
@breakpoint-mini-down: (@breakpoint-mini-up - 1px);
@breakpoint-small-up: 460px;
@breakpoint-small-down: (@breakpoint-small-up - 1px);
@breakpoint-medium-up: @container-width + @container-padding * 2;
@breakpoint-medium-down: (@breakpoint-medium-up - 1px);
@breakpoint-large-up: @container-width-large + @container-padding * 2;
@breakpoint-large-down: (@breakpoint-large-up - 1px);
@breakpoint-xlarge-up: 1200px;
@breakpoint-xlarge-down: (@breakpoint-xlarge-up - 1px);



@body-font-family: Inter, system-ui, -apple-system, Segoe UI, SimSun, PingFang SC, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
@body-bg-color: #f6f6f6;
@heading-font-family: @body-font-family;
@emoji-font-family: Apple Color Emoji, Segoe UI Emoji, sans-serif;

// Colors
@c-black: #222; // цвет текста на сайте
@c-black-light: #888;
@c-white-light: #f2f2f2;
@c-border: #c4c4c4;
@c-bg: #f0f0f0;
@c-yolk: #ff8a00;
@c-main: @c-yolk;
@c-yellow-light: #ffe4b0;
@c-green: #35b65c;
@c-red: #ee232b;


.bg-size(@url) {
    width: image-width(@url); height: image-height(@url);
}
.bg-url(@url, @rules: no-repeat) {
    .bg-size(@url); background: url(@url) @rules;
}

