/* CUSTOM onsenui/css-components-src/src/onsen-css-components.css */
/* Base version: 2.9.2 */
@import "../../../node_modules/onsenui/css-components-src/src/theme.css";


/* CUSTOM onsenui/css-components-src/src/components/index.css */


@import "../../../node_modules/onsenui/css-components-src/src/components/util.css";
@import "global.pcss";
@import "../../../node_modules/onsenui/css-components-src/src/components/page.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/switch.css";
/*
@import "../../../node_modules/onsenui/css-components-src/src/components/range.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/notification.css";
*/
@import "../../../node_modules/onsenui/css-components-src/src/components/toolbar.css";
/*
@import "../../../node_modules/onsenui/css-components-src/src/components/button.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/button-bar.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/segment.css";
*/
@import "../../../node_modules/onsenui/css-components-src/src/components/tabbar.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/toolbar-button.css";
/*
@import "../../../node_modules/onsenui/css-components-src/src/components/checkbox.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/radio-button.css";
*/
@import "../../../node_modules/onsenui/css-components-src/src/components/list.css";
/*
@import "../../../node_modules/onsenui/css-components-src/src/components/search-input.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/text-input.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/textarea.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/dialog.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/alert-dialog.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/popover.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/progress-bar.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/progress-circular.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/fab.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/modal.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/select.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/action-sheet.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/card.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/toast.css";
@import "../../../node_modules/onsenui/css-components-src/src/components/combination.css"; !* non BEM *!
*/



/* Vars from less */
:root {
    --c-violet: #502ec2;
    --c-yolk: #ff8a00;
    --c-green: #35b65c;
    --c-black-light: #929292;
    --c-bg: #f0f0f0;
    --c-border: #d3d3d3; /* #e1e1e1 */
    --container-padding: 15px;
}


/* Custom onsen vars*/
:root {
    --toolbar-height: 50px;
    --toolbar-background-color: var(--c-yolk);
    --toolbar-text-color: #fff;
    --toolbar-button-color: #fff;

    --list-item-separator-color: var(--c-border);

    --list-title-color: inherit;
    --list-title-font-size: 11px;
    --list-title-font-weight: 500;
    --list-title-line-height: inherit;
    --list-title-padding: 10px 0 10px var(--container-padding);

    --switch-highlight-color: var(--c-yolk);


    /* remove bottom border */
    --retina-toolbar-bottom-border: {}

    /* remove border from list-item children and add it to list-item */
    --retina-list-item-border: {}
    --retina-list-item-border-copy: {
        border-bottom: none;
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: bottom;
        background-image: linear-gradient(0deg, var(--list-item-separator-color), var(--list-item-separator-color) 100%);

        @media (--retina-query) {
            background-image: linear-gradient(0deg, var(--list-item-separator-color), var(--list-item-separator-color) 50%, transparent 50%);
        }
    }

    /* remove extra fonts */
    --reset-font: {}
}


/* customize onsen components */
.list-item {@apply(--retina-list-item-border-copy);}
.list-item-content {@apply(--retina-list-item-border-copy);}
